.container{
  display:flex;
  flex-direction:column;
}

.timeframe{
  display:flex;
  flex-direction: row;
  gap:3rem;
  margin-top:6rem;
  margin-bottom:6rem;
}

.timeframe-child{
  width: 50%;
}

.timeframe-data{
  text-align:left;
}
.timeframe-data > h2 {
  letter-spacing: 0.1rem;
  text-transform: uppercase; 
  font-family: nowBlack;
}
.timeframe-data > div {
  font-size:0.8rem;
  color:var(--color-cyan);
  letter-spacing: 0.1rem;
  text-transform: uppercase; 
  font-family: spacemonoBold;
}
.timeframe-data > p {
  font-family: now;
}
.timeframe-data > h2, .timeframe-data > div, .timeframe-data > p {
  padding:0;
  margin:0;
}
.timeframe-date{
  color:white;
  text-align:center;
}
.timeframe-date:first-child{
  font-family: spacemono;
}
.timeframe-date:last-child{
  font-family: anonymousProBold;
}

.dot{
  position:fixed;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.line{
  width:300px;
  height:300px;
  position:fixed; 
  border-left: 2px solid grey;
  display:inline-block;
  top:0;
  bottom:-30;
}
