.container{
  background-color: black;
  width:100%;
  margin:auto; 
  display:flex;
  flex-direction: row;
  height:100vh; 
  align-items: center;
  gap:2.8rem;
}

.child{
  width:33.33%;
  color:white;
  font-family: nowBlack;
}

.col-1st{
  padding:1rem;
}
.name{
  text-align: right;
  letter-spacing: 0.1em;
  font-size:3.8rem;
}
.col-2nd{
  box-shadow: 2.5rem 2.5rem white;
  padding:0;
  width:23%;
}
.col-3rd{
  margin-top:-25rem;
  font-size:1.2rem;
  padding:1rem;
  letter-spacing: 0.2em;
}

.secondary-title{
  display:none;
  font-size:1.2rem;
  padding:1rem;
  letter-spacing: 0.2em;
}
.btn{
  font-size: 1.2rem !important;
}

.date{
  position:absolute;
  font-size:0.8rem !important;
  color:white;
  bottom:100px;
  transform: rotate(90deg);
  transform: 0 100;
  font-family: anonymousPro;
  font-size: 1rem;
}

@media (max-width: 991.98px) {  
  .container{
    height:100vh;
    gap:0;
    flex-direction: column;
    background-image: url('/profile.png');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
  }
  .secondary-title{
    padding:0;
    display:block;
  }
  .child{
    height:auto;
    margin:auto;
    width:100%;
  }
  .col-1st{
    padding-right:2rem;
  }
  .col-2nd, .col-3rd{
    display:none;
  }
  .btn{
    margin-right:10px;
  }
}

@media (max-width: 575.98px) { 
  .container{
    background:black;
  }
  /* .col-1st{ */
  /*   background-color: black; */
  /*   margin-bottom: 0; */
  /* } */
}
