.container{
    color:white;
    background-color:var(--color-bg);
    display: flex;
    width:100%;
}

.child{
    flex-grow:1;
    padding:1em;
    font-family: spacemono;
}

.col-1st{
    width:20%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-end;
}
.col-1st div{
    padding:1em;
}
.col-1st div > svg{
    color:white;
    font-size:2em;
}
.col-1st div > svg:hover{
    color:cyan;
}
.col-2nd{
    
    width:45%;
    overflow-y: auto;
    overflow-x: hidden;
    height:100vh;
    scroll-behavior:smooth;
    direction:rtl;
}
.col-2nd *{
    direction:ltr;
}

.article-meta{
    font-size:0.8em;
    color:grey;
}
/* width */
.col-2nd::-webkit-scrollbar{
  width: 5px;
}

.col-3rd::-webkit-scrollbar {
    display:none;
}
/* Track */
.col-2nd::-webkit-scrollbar-track{
  background: rgba(255,255,255,0.2); 
}
 
/* Handle */
.col-2nd::-webkit-scrollbar-thumb{
  background: cyan; 
}

/* Handle on hover */
.col-2nd::-webkit-scrollbar-thumb:hover{
  background: white; 
}
.col-3rd{
    width:20%;
    overflow-y:auto;
    height:100vh;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
}


.col-2nd blockquote{
    border-left: 2px solid white;
    padding:0.1em;
    padding-left:1em;
    background-color: #121212;
}
.col-2nd a{
    text-decoration: underline;
    transition: color 0.2s;
}
.col-2nd a:hover{
    color: var(--color-blue);
}
.col-2nd h1{
    padding:0.5em 0em 0.5em 0em;
    border-bottom:1px solid rgba(255,255,255,.2); 
}

.col-2nd table{
    margin:auto;
}
.col-2nd table, .col-2nd th, .col-2nd td{
    border:1px solid grey;
    padding:0.5em;
    border-collapse: collapse;
}
/* .col-2nd [class*="math"]{ */
/*     font-size:98%; */
/* } */
.col-2nd [class*="icon-link"]{
    padding-right:0.3em;
    color:var(--color-cyan);
}

.toc-li a:hover{
    color: var(--color-cyan);
}
.toc-li{
    font-family:spacemonoBold;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .col-1st{
        display:none;
    }
    .col-2nd{
        max-width: 100% !important;
        width: 100%;
        height:auto !important;
    }
    .col-3rd{
        display:none;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .col-1st{
        display:none;
    }
    .col-2nd{
        width: 70%;
    }
    .col-3rd{
        width:20% !important;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .col-2nd{
        width: 75%;
    }
    .col-3rd{
        width:25% !important;
    }
}


/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }
