html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
  font-variant-ligatures: none;
  --font-apple: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-cyan:#5ce1e6;
  --color-blue:#0030b3;
  --color-purple:#8c52ff;
  --color-bg:black;
}
@font-face {
  font-family: nowBlack;
  src: url('../assets/fonts/now.black.otf');
}
@font-face {
  font-family: nowBold;
  src: url('../assets/fonts/now.bold.otf');
}
@font-face {
  font-family: now;
  src: url('../assets/fonts/now.regular.otf');
}
@font-face {
  font-family: spacemono;
  src: url('../assets/fonts/SpaceMono-Regular.ttf');
}
@font-face {
  font-family: spacemonoBold;
  src: url('../assets/fonts/SpaceMono-Bold.ttf');
}
@font-face {
  font-family: anonymousPro;
  src: url('../assets/fonts/AnonymousPro-Regular.ttf');
}
@font-face {
  font-family: anonymousProBold;
  src: url('../assets/fonts/AnonymousPro-Bold.ttf');
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

